#about-us-page {
    display: grid;
    row-gap: 2rem;
    place-items: center;
}

#about-us-page h2 {
    display: grid;
    place-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(222,222,222);
}
