#tab-container {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(222,222,222);
}

button.tab {
    color: red;
    width: 200px;
    background-color: white;
    border: none;
    padding: 0.75rem;
    font-weight: 700;
    font-size: 1.5rem;
}

button.tab:hover {
    cursor: pointer;
    background-color: rgb(244,244,244);
}

button.tab:active {
    transform: scale(0.98);
}

button.tab.active {
    background-color: red;
    color: white;
    border: none;
}

div.border {
    width: 1px;
    background-color: rgb(222,222,222);
}